@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--screen-xxl: 1400px;
	--screen-xl: 1200px;
	--screen-lg: 900px;
	--screen-md: 768px;
	--screen-sm: 540px;
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

button {
	font-size: 18px;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	outline: none;
}

.btn {
	min-height: 44px;
	font-size: 1.125rem;
	background-color: #192133;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: fit-content;
	transition: all 450ms;
}

.btn:hover {
	transform: scale(1.02);
}

.mb-1 {
	margin-bottom: 4px;
}

.mb-2 {
	margin-bottom: 10px;
}

.mb-3 {
	margin-bottom: 24px;
}

.mt-1 {
	margin-top: 4px;
}

.mt-2 {
	margin-top: 10px;
}

.mt-3 {
	margin-top: 24px;
}

.align-center {
	text-align: center;
}

.flex {
	display: flex;
}

.color-primary {
	color: orange;
}

.color-white {
	color: #fff;
}

.movie-title {
	font-size: 2.5rem;
}

.page-heading {
	text-align: center;
	font-size: 2rem;
}

.round-button {
	background: transparent;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 450ms;
}

.round-button svg {
	font-size: 30px;
}

.round-button:hover {
	transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
	.btn {
		font-size: 1rem;
	}

	.movie-title {
		font-size: 2rem;
	}

	.page-heading {
		font-size: 28px;
	}

	.round-button svg {
		font-size: 26px;
	}
}

.app-padding {
	padding: 90px 40px 30px;
}

@media only screen and (max-width: 768px) {
	.app-padding {
		padding: 90px 30px 30px;
	}
}

@media only screen and (max-width: 540px) {
	.app-padding {
		padding: 90px 10px 30px;
	}
}
